ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #3700b3;
}

a  {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 10px 14px 14px;
  text-decoration: none;
  float: left;
}

/* Change the link color to #111 (black) on hover */
a:hover {
  background-color: #111;
}

icon{
  padding: 0;
  margin: 0
}