<ul>
  <a routerLink="">
    Home
  </a>
  <a *ngIf="logStat===false" routerLink="/login">
    Login
  </a>
  <a *ngIf="logStat===true" href="" (click)="logout()">
    Logout
  </a>
  <a *ngIf="logStat===false" routerLink="/signup">
    Signup
  </a>
  <a routerLink="/about">
    Buzzes!
  </a>
  <a *ngIf="logStat===true" (click)="openDialog()">
    Start a Buzz
  </a>
  <a routerLink="/contact">
    Contact
  </a>
  <a *ngIf="logStat === true && isAdmin === false" routerLink="/user/account">
    Account
  </a>
  <mat-menu #menu="matMenu">
    <a mat-menu-item>My Account</a>
  </mat-menu>
  <a *ngIf="isAdmin === true" routerLink="/admin">
    Admin
  </a>
</ul>